=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
        .card-body
          %p.center-text Specify details for every client involved.
          %hr
          =form_tag notes_group_notes_path do |f|
            -@notes.each do |note|
              -presets = (@presets[note.client_id].to_a + @presets[nil].to_a).group_by(&:preset_type)
              %ul.collapsible.client_note{data: {collapsible: "expandible"}}
                %li
                  .collapsible-header.active.grey.white-text
                    =note.client
                  .collapsible-body.white
                    .row
                      .col.s3
                        %label Date
                        =text_field_tag "date", @note_group.date.strftime('%-m/%-d/%Y'), readonly:true
                      .col.s4
                        %label Start time
                        -start_time = @note_group.start_time + (current_user.utc_offset * 3600)
                        =text_field_tag "updates[#{note.client.id}]start_time", start_time.strftime("%l:%M%p"), class: "timepicker"
                      .col.s4
                        %label End time
                        -end_time = @note_group.end_time + (current_user.utc_offset * 3600)
                        =text_field_tag "updates[#{note.client.id}]end_time", end_time.strftime("%l:%M%p"), class: "timepicker"
                      .col.s1.match-container
                        %button.btn.grey.match-time=fa_icon('clock')

                    .row
                      .col.s12
                        %label Locations and Activities
                        =number_field_tag "updates[#{note.client.id}]transportation_trips", note.transportation_trips, class: "white"
                      .col.s12
                        -(presets[""].to_a+presets["location"].to_a).each do |preset|
                          .chip.clickable.chip-preset{data: {presetType: "location", value: preset.text }}
                            =preset
                      .col.s12
                        %label Locations and Activities
                        =text_area_tag "updates[#{note.client.id}]location", note.location, class: "white"

                      .col.s12
                        -(presets[""].to_a+presets["support_provided"].to_a).each do |preset|
                          .chip.clickable.chip-preset{data: {presetType: "support_provided", value: preset.text }}
                            =preset
                      .col.s12
                        %label Support provided
                        =text_area_tag "updates[#{note.client.id}]support_provided", note.support_provided, class: "white"

                      .col.s12
                        -(presets[""].to_a+presets["service_description"].to_a).each do |preset|
                          .chip.clickable.chip-preset{data: {presetType: "service_description", value: preset.text }}
                            =preset
                      .col.s12
                        %label Services description
                        =text_area_tag "updates[#{note.client.id}]service_description", note.service_description, class: "white"

                      .col.s12
                        -(presets[""].to_a+presets["interactions"].to_a).each do |preset|
                          .chip.clickable.chip-preset{data: {presetType: "interactions", value: preset.text }}
                            =preset
                      .col.s12
                        %label Interactions
                        =text_area_tag "updates[#{note.client.id}]interactions", note.interactions, class: "white"

                      .col.s12
                        -(presets[""].to_a+presets["comments"].to_a).each do |preset|
                          .chip.clickable.chip-preset{data: {presetType: "comments", value: preset.text }}
                            =preset
                      .col.s12
                        %label Comments
                        =text_area_tag "updates[#{note.client.id}]comments", note.comments, class: "white"
                      %p.center-text
                        %a.clickable.incedent-trigger Fill Out Incedent Report
                    .row.incedent-report.hide
                      .col.s12
                        %label Incedent Report
                        =text_area_tag "updates[#{note.client.id}]incedent_report", nil, placeholder: "Describe what happened, who was involved, circumstances, etc...", class: "white"
            .row
              =submit_tag "Submit Reports", class: "btn #{org_color} offset-s9 col s3"
        .card-action

:javascript
  $('.chip-preset').on('click', function(event){
    var $chip, val, type, target, $ele, originalValue, newValue
    $chip = $(this);
    val = $chip.data('value');
    type = $chip.data('presettype');
    target = "[name$='"+type+"']";
    $ele = $chip.closest('.client_note').find(target)
    originalValue = $ele.val();
    if (val[val.length-1] !== "."){
      val = val + "."
    }
    newValue = originalValue + " " + val;
    $ele.val(newValue);
  });

  $('.incedent-trigger').on('click', function(event){
    $(this).closest('.client_note').find('.incedent-report').toggleClass('hide');
  });

  $(".match-time").on("click", function(event){
    event.preventDefault();
    if(confirm("This will update all other times with clients for this day. Are you sure?")){
      console.log('update all times');
    }
  });
