%h5
  ="Welcome to #{@organization}"
%hr
%p
  ="#{@current_user} just created a provider's account for you with #{@organization}. Click #{link_to "here", password_caretakers_path(prt: @token)} in order to complete your registration or visit #{password_caretakers_path(prt: @token)} in order to set a password."
