=render 'layouts/navbar'
-if current_user.master && false
  .row
    .col.s10.offset-s1
      .card.grey.lighten-3
        .card-content
          .card-title
            .row
              .col.s9
                %h5
              =link_to "Dashboard", admin_index_path, class: "btn #{org_color} col s3"
          .card-body
            .row
              .col.s6
                %h5
                  ="#{@unbilled_count}/#{@total_reports} Unbilled Reports"
                %h5
                  ="#{@unbilled_hours} Unbilled Hours"
              .col.s6
                %canvas#unbilled_reports_chart
          .card-action

.row
  .col.s10.offset-s1
    =simple_form_for :generator, url: shine_report_notes_group_index_path, method: :get do |f|
      .card.grey.lighten-3
        .card-content
          .card-title
            .row
              .col.s9
                %h5 Shine Report
              %button.btn.col.s3{class: org_color, style: "margin-top: 1.7em;"} Generate
          .card-body
            .row
              .col.s6
                =f.input :start_date,  input_html: {class: "datepicker white"}
              .col.s6
                =f.input :end_date,  input_html: {class: "datepicker white"}


.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            .col.s9
              %h5 Reports
            =link_to "Submit Report", new_notes_group_path, class: "col s3 btn #{org_color}"
        .card-body
          -if @note_groups.length.zero?
            %h5.center-text No Reports available
          %ul.collection
            -@note_groups.each do |ng|
              =link_to notes_group_path(ng), class: "collection-item black-text" do
                =ng.date.strftime('%A %B %e, %Y')
                =fa_icon('exclamation-circle') if @incident_report[ng.id]
        .card-action
-if current_user.master && false
  :javascript
    var unbilled_reports_chart = document.getElementById("unbilled_reports_chart").getContext("2d");
    var data = {
      datasets: [{
          data: [#{@total_reports-@unbilled_count},#{@unbilled_count}],
          backgroundColor: [
            "#{ORG_COLORS[current_organization.color]}",
            'rgba(155,155,155,.5)'
          ]
      }],
      labels: [
          'Billed',
          'Unbilled',
      ]
    };

    new Chart(unbilled_reports_chart,{
      type: 'doughnut',
      data: data
    });
